<!doctype html>
<html>
<head>
<meta charset="utf-8">
	<title>Frågesport</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="="IE=edge" >
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="testsida.css" rel="stylesheet">
</head>
<body>

<h1>{{ question_number }}. {{ question }}</h1>
    

<form action="{% url "answer_page" quiz.quiz_number question_number %}" method="post"
{% csrf_token %}
>


<ol>
<li><p>{{ answer1 }}</p><input type="radio" value="1"></li>
<li><p>{{ answer2 }}</p><input type="radio" value="2"  ></li>
<li><p>{{ answer3 }}</p><input type="radio" value="3"></li>
<button type="submit">Nästa</button>


<input type="submit" value ="skicka">

</ol>
</form>



			
<script src="ja/bootstrap.min.js"></script>


<ol>

</ol>


 </h4>
<img src="http://assets.myshowroom.se/blogs.dir/13894/files/2011/10/bengal-cat-japan.jpg" height="300px">


<h3> Lycka till!</h3>
</body>
</html>